<h2>Add Doctor</h2>
	<br>
	<form method="post" action="/doctors/add">
		<div>
			<label>Full Name:</label>
			<input type="text" name="full_name">
		</div>
		<div>
			<label>Category:</label>
			<select name="category">
			{{#each categories}}
				<option value="{{name}}">{{name}}</option>
			{{/each}}
				
			</select>
		</div>
		<div>
			<label>Accepting new patients:</label>
			<select name="new_patients">
				<option value="Yes">Yes</option>
				<option value="No">No</option>
			</select>
		</div>
		<div>
			<label>Practice Name:</label>
			<input type="text" name="practice_name">
		</div>
		<div>
			<label>Graduation Year:</label>
			<input type="text" name="graduation_year">
		</div>
		<div>
			<label>City:</label>
			<input type="text" name="city">
		</div>
		<div>
			<label>State</label>
			<select name="state">
			<option value="0">Select a State</option>
			<option value="MA">Massachussets</option>
			<option value="FL">Florida</option>
		</select>
		</div>
		<div>
			<input type="submit" value="Add Doctor">
		</div>
	</form>
	<br>