<h2>Browse doctors</h2>
	<br>
	<ul class="docs">
		<li>
			<h3>Dr Someone</h3>
			<p>Specialty: General</p>
			<p>Location: Boston MA</p>
			<p><a href="details.html"> Details</a></p>
		</li>
		<li>
			<h3>Dr Someone</h3>
			<p>Specialty: General</p>
			<p>Location: Lowell MA</p>
			<p><a href="details.html"> Details</a></p>
		</li>
		<li>
			<h3>Dr Someone</h3>
			<p>Specialty: General</p>
			<p>Location: Boston MA</p>
			<p><a href="details.html"> Details</a></p>
		</li>
	</ul>