<h2>Welcome to FindaDoc</h2>
	<p>We will Help you Find a doctor in your area.</p>
	<br>
	<form>
		<select>
			<option value="0">Select a State</option>
			<option value="MA">Massachussets</option>
			<option value="FL">Florida</option>
		</select>
		<input type="submit" value="find">
	</form>
